.nav-side-box {
    width: 100px;
    height: 170px;
    margin-left: 240px;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    float: left;
    border: black solid 1px;
    position: absolute;
}

.nav-content {
    color: rgba(50, 50, 50, 0.8);
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    /*border: palegreen solid 2px;*/
    margin-top: 0px;
}

.content-item {
    margin-left: -20px;
    margin-top: -30px;
    margin-bottom: 50px;
    text-decoration: none;
}


.text-myApplication {
    margin-left: 17px;
    text-decoration: none;
    color: rgba(50, 50, 50, 0.8);
}


.text:hover,
.text-myApplication:hover,
.text-resume:hover,
.text-signout:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 10px;
  padding: 10px;
}

nav li {

  margin: 10px;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li:last-child {
  margin-right: 0;
}

nav > ul > li {
  display: inline-block;
  position: relative;
  text-decoration: underline;
}

nav > ul > li .secondary-menu {
  position: absolute;
  top: 100%;
  left: -30px;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
}

.job-text{
  text-decoration: none;
}

nav > ul > li.active .secondary-menu {
  border-radius: 10px;
  display: block;
}